
<p>
  <mat-toolbar >
    <div>
      <a href="./">
        <img src="./assets/img/logo2.png" alt="" />
      </a>
    </div>
    <span>
      <div class="botoes_navbar">
        <a mat-button routerLink="/">Inicio</a>
        <a mat-button routerLink="/">jogos</a>
        <a mat-button routerLink="/">Consoles</a>
      </div>
    </span>


    <span class="header"></span>
      <div class="btn-entrar">
      <a routerLink="login" class="icon-entrar" mat-icon-button>
        <img src="./assets/img/user.svg" alt="" />
        <p class="entrar">Entrar/<br>registrar</p>

      </a>

    </div>
    <button mat-icon-button>
      <img src="./assets/img/compra.svg" />
    </button>

  </mat-toolbar>
</p>



