main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 824px;
}

.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

login{
    background-color: black;
}

redefinir{
    position: relative;
}