<main>
  <section id="section-login">
    <form class="  container">

        <div class="form-floating g-3 ">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-mail</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingSenha" placeholder="Password">
          <label for="floatingSenha">Senha</label>
        </div>
        <br>
           <div class="form-group">
            <button mat-flat-button type="submit" class="form-control btn btn-primary rounded submit px-3">Login</button>
            </div>
            <br>
              <div class="login">    
                <div >
                  <input type="checkbox" checked>
                  <span class="checkmark">
                  <label class="checkbox-wrap checkbox-primary">. lembrar-me</label>
                  
                </span>
                  
                  
                  
                  
                  <a class="redefinir" href="#">Redefinir senha</a>
                  </div>
                 
              </div>    
      </form>

  </section>
</main>

