<main>
  <form id="section-login">
    
        <div class="logo_circle">
          <img class="logo_circle1" src="./assets/img/logo_circle.png" >
        </div>
        <div class="form-floating g-3 ">
          <input  type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">E-mail</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingSenha" placeholder="Password">
          <label for="floatingSenha">Senha</label>
        </div>
        <br>
           <div class="form-group">
            <button mat-raised-button type="submit" class="form-control btn btn-secondary submit px-3">Login</button>
           
            </div>
            <br>
              <div class="login">    
           
                  <input   type="checkbox" id="check" >
                  <span class="checkmark">
                  <label for="check" class="checkbox-wrap checkbox-primary"  > Lembrar-me</label>
                  
                </span>
           
                  
                  
                <a class="redefinir" href="#">Redefinir senha</a>
                  
                 
              </div>    
              
      

  </form>
</main>

