main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 824px;
  
}



.redefinir{
  position: relative;
  left: 35px;
}

.login{
  display: flex;
  align-items:baseline;
  left: 30px;
}

form{
  background: white;
  padding: 50px;
  border-radius: 40px;
  box-shadow: 6px 6px 2px 2px rgba(0, 0, 0, 0.1);
}

.checkbox-wrap{
  position: relative;
  left: 2px;
}

.logo_circle{
  text-align: center;
  height: 80px;
}

.logo_circle1{
  height: 50px;
}